<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks Application</title>
</head>
<body>
<h2>To Do Application</h2>
<hr>
<form method="POST" action="/">
    {% csrf_token %}
    {{ form.title }}
    <input type="submit" name="Create Task">
</form>
{% for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a>
        {% if task.complete == True %}
            <strike>{{ task }}</strike>
        {% else %}
            <span>{{ task }}</span>
        {% endif %}
        <br>
    </div>
{% endfor %}
</body>
</html>